[submodule "qualification/subfolder"]
	path = qualification/subfolder
	url = https://github.com/wish44165/iAutolabeling.git
[submodule "qualification/iAutolabeling"]
	path = qualification/iAutolabeling
	url = https://github.com/wish44165/iAutolabeling.git
